@import url('https://fonts.googleapis.com/css?family=Audiowide');

body{
  background: url('/public/img/tableboard.jpg') no-repeat 50% fixed;
  background-size: cover;
  font-family: $font;
  color: $white;
}